In [14]:
#Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [2]:
#URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [3]:
# Retrieve page with the requests module
response = requests.get(url)

In [4]:
# Create Beautiful Soup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
# Examine the results, then determine element that contains sought info
#print(soup.prettify())

In [6]:
# Extract the text of the body
title = soup.title.text.strip()

In [7]:
#Find the latest news title and paragraph
news_title = soup.find("div", class_='content_title').text.strip()
print(news_title)

news_paragraph = soup.find("div", class_='rollover_description_inner').text.strip()
print(news_paragraph)

NASA Readies Perseverance Mars Rover's Earthly Twin
Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.

In [8]:
executable_path = {'executable_path': '/Users/jayde/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [9]:
#Main URL to retrieve feautured image
url_1 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_1)

#HTML object
html = browser.html

In [10]:
#Use 'Full Image' link on main page to navigate to feautured image's url and then send a mouse click to open medium image
medium_image = browser.links.find_by_partial_text('FULL IMAGE').click()

In [11]:
#Use 'More Info' link on this page to navigate to the large image URL 
large_image = browser.links.find_by_partial_text('more info').click()

In [12]:
#Use browsers current location to get the URL of the image in large size
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

results = soup.find_all('figure', class_='lede')
print(results)

[<figure class="lede">
<a href="/spaceimages/images/largesize/PIA17924_hires.jpg"><img alt="This image shows a small part of the HofsjÃ¶kull ice cap in Iceland, which encompasses several glaciers. The fan at upper left is part of a glacier called MÃ»lajÃ¶kul." class="main_image" src="/spaceimages/images/largesize/PIA17924_hires.jpg" title="This image shows a small part of the HofsjÃ¶kull ice cap in Iceland, which encompasses several glaciers. The fan at upper left is part of a glacier called MÃ»lajÃ¶kul."/></a>
</figure>]

In [13]:
#Grab partial path of image and then connect to complete URL
partial_image_path = results[0].a['href']
#print(partial_image_path)
featured_image_url = 'https://www.jpl.nasa.gov' + partial_image_path
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17924_hires.jpg

In [24]:
#Scrape the website for space facts and then create html table string using Pandas
url_2 = 'https://space-facts.com/mars/'
spacefacts_table = pd.read_html(url_2)
spacefacts_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [25]:
spacefacts_df = spacefacts_table[1]
spacefacts_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [26]:
#Convert dataframe to HTML table 
space_html_table = spacefacts_df.to_html()
space_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [27]:
#Strip unwanted newlines to clean up table
space_html_table.replace('\n','')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars - Earth Comparison</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>1</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>2</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>3</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>4</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>5</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'